.about-body {
  border: 2px red solid;
  display: flex;
  justify-content: space-around;
}

.para {
  border: 2px green solid;
  font-size: 30px;
  color: #5a2ac2;
  font-family: "Alex Brush", cursive;
  max-width: fit-content;
  max-height: fit-content;
}

.image-div {
  width: 100px;
  height: 200px;
}
